<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGREGAR DERIVANTE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
{% extends "appasb/index.html" %}
    
    {% load static %}
    
    {% block ... %}
<body>
    <h1>REGISTRO DE DERIVANTE POR USUARIO</h1>
    <p>Ingrese la institucion a la que pertenece el usuario</p>
    <form action="/dev_form/" method="POST">
        {% csrf_token %}
        <p> Institucion: <input type = "text" name="institucion"></p>
        <p>    Apellido: <input type = "text" name="apellido"></p>
        <p>    Email: <input type = "text" name="email"></p>
        <p>    Profesion: <input type = "text" name="profesion"></p>
        <input type = "submit" value="Enviar">
     </form> 
     {% endblock %}   
</body>
</html>